html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Tahoma, sans-serif;
  font-size: 40px;
}

.box {
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-top: 1px solid #687291;
  background-color: #eeeff2;
}

.box:nth-child(odd) {
  background-color: #dfe1e7;
}

.box:last-child {
  background-color: #687291;
  border: 4px solid black;
  align-items: center;
}
