html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Tahoma, sans-serif;
  font-size: 40px;
}

.box {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:nth-child(odd) {
  background-color: #dfe1e7;
}

.box:nth-child(even) {
  background-color: #eeeff2;
}

.box:last-child {
  background-color: #687291;
  border: 4px solid black;
}
