html,
body {
    height: 100%;
    margin: 0;
}


body {
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap; 
}


.box {
    width: 100px; 
    height: 150px; 
    background-color: #eeeff2; 
    border-left: 10px dotted #D0D0FF; 

    padding-left: 10px;
    padding-top: 10px;
    
    box-sizing: border-box;

    margin-right: 10px;

    text-align: left;
    line-height: 1; 
}


.box:hover {
    cursor: pointer;
    background-color: yellow;
    color: goldenrod; 
}


.box:last-child {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 0; 
}

